<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--站点根目录-->
    <add name="WebSiteBaseUrl" connectionString=""/>
    <!--公众号ID-->
    <add name="WebChatID" connectionString=""/>
    <!--模板图片的位置-->
    <add name="BgTemplateDirPath" connectionString=""/>
    <!--产品图片位置-->
    <add name="BgProductDirPath" connectionString=""/>
  </connectionStrings>
</configuration>